* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Gilroy, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    background-color: #FFFFFF;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Semibold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Bold.ttf");
    font-weight: 700;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
}

li {
    list-style: none;
}

.container {
    max-width: 1326px;
    margin: 0 auto;
    padding: 0 15px;
}


/*MODAL*/
#modal {
    display: none;
    width: 300px;
    cursor: default;
}

#modal input {
    width: 100%;
    border: 1px solid #e6e6e6;
    outline: none;
    margin-bottom: 20px;
    height: 40px;
    padding-left: 10px;
    font-family: 'Gilroy', sans-serif;
}

#modal input[type="submit"] {
    background-color: #00868A;
}

#modal input[type="submit"]:hover {
    color: #FFFFFF;
}

.fancybox-slide--html {
    color: black;
}


/*HEADER*/
.header__top-items, .footer__bottom-items {
    display: flex;
    height: 90px;
    justify-content: space-between;
}

.header__btn-menu {
    display: none;
    font-size: 40px;
}

.header__top-item:nth-child(1) {
    flex-basis: 260px;
}

.header__top-item:nth-child(2) {
    flex-basis: 185px;
}

.header__top-item:nth-child(3) {
    flex-basis: 199px;
}

.header__top-item:nth-child(4) {
    flex-basis: 331px;
}

.header__top-item:nth-child(n+5) {
    flex-basis: 80px;
}

.header__top-item, .footer__bottom-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    border-right: 1px solid #C4C4C4;
    position: relative;
}

.header__top-item.select span {
    padding-right: 35px;
}

.header__top-item.text-hover:hover {
    color: #838383;
    transition: .3s;
}

.header__top-item:hover img {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.68));
    transition: .3s;
}

.header__top-item.border-left {
    border-left: 1px solid #C4C4C4;
}

.btn-advanced {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 16px;
    padding: 12px 15px 12px 51px;
    background-color: #00868A;
    color: #FFFFFF;
    border: none;
    margin-inline: auto;
    height: 40px;
    min-width: 270px;
    position: relative;
}

.btn-advanced:hover {
    background-color: rgb(0, 116, 119);
    transition: .3s;
}

.btn-advanced img {
    position: absolute;
    left: 13px;
    top: 8px;
}

.header__bottom {
    background-color: #4FBFA5;
}

.header__bottom-items {
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    text-align: center;
    height: 87px;
    font-size: 18px;
    line-height: 27px;
}

.header__bottom-nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 60px;
    align-items: center;
}

.header__bottom-nav li {
    padding-inline: 10px;
}

.header__bottom-nav a:hover {
    color: #838383;
    transition: .3s;
}

.header__bottom-btn {
    background-color: #FFFFFF;
    padding: 10px 0;
    line-height: 21px;
    color: black;
    width: 175px;
}

.header__bottom-btn:hover {
    background-color: rgb(218, 218, 218);
    transition: .3s;
}


/*SLIDER*/
.slider {
    background-color: #4FBFA5;
}

.slider__item {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.slider__item-content {
    max-width: 416px;
}

.slider__item-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
}

.slider__item-text {
    line-height: 21px;
    padding-top: 20px;
}

.slider__item-btn {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    margin-top: 40px;
    padding: 15px 25px;
    background-color: #00868A;
}

.slider__item-btn:hover {
    background-color: rgb(0, 116, 119);
    transition: .3s;
}

.slick-btn {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    width: 60px;
    height: 50px;
    position: absolute;
    bottom: 60px;
    font-size: 15px;
    font-family: 'icomoon';
    color: #FFFFFF;
}

.slick-next {
    left: 340px;
}

.slick-prev {
    left: 400px;
    z-index: 10;
}

.slick-next:before {
    content: "\f177";
    position: absolute;
    top: 16px;
    left: 22px;
    transform: scale(2, 1);
}

.slick-prev:before {
    content: "\f178";
    position: absolute;
    top: 16px;
    left: 22px;
    transform: scale(2, 1);
}

.slick-next:hover {
    border-color: rgb(218, 218, 218);
    background-color: rgba(218, 218, 218, 0.32);
    transition: .3s;
    cursor: pointer;
}

.slick-prev:hover {
    border-color: rgb(218, 218, 218);
    background-color: rgba(218, 218, 218, 0.32);
    transition: .3s;
    cursor: pointer;
}

.slider__bottom {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #00868A;
}

.slider__btn {
    width: 100%;
    max-width: 324px;
    text-align: center;
    font-size: 21px;
    line-height: 32px;
}

.slider__btn.width {
    max-width: 648px;
}

.slider__btn.color {
    padding: 25px 0;
    background-color: #4FBFA5;
    height: 100%;
}


/*PATENT*/
.patent__inner {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.patent__left {
    background-color: #00868A;
    max-width: 526px;
}

.patent__left-text {
    padding: 41px 40px;
}

.patent__block-title, .news__block-title, .special__block-title {
    max-width: 125px;
    height: 40px;
    background-color: #4FBFA5;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    line-height: 21px;
}

.patent__title {
    margin-top: 30px;
    font-size: 30px;
    line-height: 45px;
}

.patent__btn {
    margin-top: 30px;
    padding: 10px 10px 10px 70px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    line-height: 24px;
    letter-spacing: 0.05em;
    position: relative;
}

.patent__btn-block {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    position: absolute;
    bottom: 60px;
    font-size: 15px;
    font-family: 'icomoon';
    color: #FFFFFF;
}

.patent__btn-block:before {
    content: "\f178";
    position: absolute;
    top: 9px;
    left: 19px;
    font-size: 12px;
    transform: scale(2, 1);
}

.patent__btn:hover {
    color: rgb(218, 218, 218);
    transition: .3s;
}

.patent__right {
    max-width: 636px;
    width: 100%;
    padding: 41px 0 0;
}

.patent__block-title.right {
    max-width: 186px;
    color: #FFFFFF;
}

.patent__right-content {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    position: relative;
}

.patent__right-content-rows {
    max-width: 214px;
}

.patent__right-text {
    display: flex;
    padding-top: 45px;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    color: rgba(0, 0, 0, 0.52);
}

.patent__right-text:first-child {
    padding-top: 14px;
}

.patent__right-text:last-child {
    padding-top: 184px;
}

.patent__right-text.size {
    width: 460px;
    top: 193px;
    position: absolute;
    font-size: 28px;
    line-height: 42px;
    color: black;
}

.patent__right-text-num.size {
    color: #00868A;
    font-size: 96px;
}

.patent__right-text-num {
    padding-right: 20px;
    font-size: 48px;
}


/*NEWS*/
.news {
    padding-bottom: 100px;
}

.news .container {
    display: flex;
}

.news__left {
    background-color: #4FBFA5;
    padding-top: 35px;
    max-width: 526px;
}

.news__block-title {
    background-color: #00868A;
    margin: 0 0 35px 35px;
}

.news__block-text {
    padding: 35px 40px;
    font-size: 18px;
    line-height: 27px;
}

.news__block-text:hover {
    background-color: #00868A;
    transition: .3s;
}

.news__right {
    padding: 35px 59px;
    background-color: rgba(0, 134, 138, 0.1);
    width: 100%;
    color: black;
}

.news__right-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.news__right ul {
    padding-top: 10px;
}

.news__right li {
    margin-top: 15px;
    padding-left: 30px;
    position: relative;
}

.news__right li:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 7px;
    height: 7px;
    background-color: #4FBFA5;
    border-radius: 30%;
}


/*SPECIAL*/
.special {
    background: linear-gradient(to bottom, rgba(0, 134, 138, 0.1) 55%, white 0%);
    padding-bottom: 100px;
}

.special__content {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.special__title {
    text-align: center;
    padding-top: 80px;
    color: #00868A;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
}

.special__content-item {
    position: relative;
    width: 306px;
}

.special__block-title {
    position: absolute;
    top: 30px;
    left: 30px;
    max-width: none;
    padding-inline: 15px;
}

.special__block-link {
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    width: 100%;
    position: relative;
    background-color: #00868A;
    padding: 25px 20px 25px 30px;
}

.special__block-btn {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    top: 37px;
    right: 30px;
    width: 50px;
    height: 40px;
    position: absolute;
}

.special__block-btn:before {
    content: "\f178";
    font-family: 'icomoon';
    position: absolute;
    top: 5px;
    right: 17px;
    font-size: 12px;
    transform: scale(2, 1);
}

.special__block-link:hover {
    color: rgb(218, 218, 218);
    transition: .3s;
}


/*FOOTER*/
.footer a {
    color: black;
}

.footer__left {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 190px;
    row-gap: 30px;
    padding-bottom: 79px;
}

.footer__left-title {
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
}

.footer__left-list a {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    padding-top: 15px;
}

.footer__content {
    display: flex;
    color: black;
}

.footer__right {
    padding-left: 108px;
}

.footer__right-title {
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 0.05em;
    opacity: 50%;
    text-transform: uppercase;
}

.footer__right-text {
    padding-top: 10px;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
}

.footer__right-btn {
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 0.05em;
    margin-top: 15px;
    background-color: #00868A;
    padding: 15px 25px;
}

.footer__right-title.padding {
    padding-top: 30px;
}

.footer__left-list a:hover {
    color: #9b9b9b;
    transition: .3s;
}

.footer__right a {
    color: #FFFFFF;
}

.footer__right a:hover {
    background-color: rgb(0, 116, 119);
    transition: .3s;
}

.footer__bottom-item:nth-child(1) {
    padding-left: 25px;
    flex-basis: 347px;
}

.footer__bottom-item:nth-child(2) {
    flex-basis: 297px;
}

.footer__bottom-item:nth-child(3) {
    flex-basis: 331px;
}

.footer__bottom-item:nth-child(n+4) {
    flex-basis: 80px;
}

.footer__bottom-item.border-left {
    border-left: 1px solid #C4C4C4;
    font-size: 12px;
    font-weight: 400;
}

.footer__bottom-item.text-hover {
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
}

.footer__bottom-item:hover img {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.68));
    transition: .3s;
}

.footer__bottom-items {
    border-top: 1px solid #C4C4C4;
}

.footer__bottom-item.border-right {
    border-right: none;
}

.footer__bottom-item.text-hover:hover {
    text-decoration: none;
}

.footer__bottom-items .btn-advanced {
    color: #FFFFFF;
}


/*SELECT*/
.jq-selectbox__select {
    border: none;
    background: none;
    box-shadow: none;
    position: absolute;
    top: -25px;
    right: -11px;
}

.jq-selectbox__select:hover {
    background: none;
}

.jq-selectbox__select:active {
    outline: none;
    box-shadow: none;
}

.jq-selectbox__select-text {
    display: none;
}

.jq-selectbox__trigger {
    border-left: none;

}

.jq-selectbox.focused .jq-selectbox__select {
    border: none;
}

.jq-selectbox__trigger-arrow {
    width: 20px;
    height: 20px;
    background-color: #4FBFA5;
    border: none;
    border-radius: 50%;
}

.jq-selectbox__trigger-arrow:before {
    content: "";
    position: absolute;
    top: 7px;
    right: 5px;
    border-top: 5px solid white;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.jq-selectbox__trigger-arrow:hover {
    background-color: #009398;
    transition: .3s;
}

.jq-selectbox__dropdown {
    position: absolute;
    top: 10px;
    left: -148px;
    width: 150px !important;
}





















